* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EDF2F8;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#t-grid {
    padding: 5% 3%;
}

#t1 {
    background-color: #733FC8;
    color: white;
    position: relative;
    z-index: 0;
}

#t2 {
    background-color: #49556B;
    color:  white;
}

#t3, #t5 {
    background-color: white;
    color: #313131;
}

#t4 {
    background-color: #18202D;
    color: white;
}

.grid-item {
    margin: 0 0 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

.grid-item p {
    opacity: 70%;
}

.header {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
    z-index: 3;
    position: relative;
}

.header img {
    border-radius: 50%;
    margin: 0 10px 0 0;
    border: 2px solid rgb(113, 0, 128);
}

.grid-item h4 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

.header .nome {
    opacity: 100%;
    font-size: 1rem;
}

#quote {
    position: absolute;
    right: 15%;
    top: 0;
    z-index: 1;
}

@media (min-width: 576px) {
    #t-grid, #esquerda-principal, #cima, #baixo {
        display: flex;
    }
    
    #t-grid {
        max-width: 1440px;
        margin: 0 auto;
    }

    #t5 {
        flex-basis: 20%;
    }

    #esquerda-principal {
        flex-direction: column;
        flex-basis: 80%;
    }

    #esquerda-principal .grid-item {
        margin: 0 15px 15px 0;
    }

    #cima, #baixo {
        flex-basis: 50%;
    }

    #t1, #t4 {
        flex-basis: 65%;
    }
    
    #t2, #t3 {
        flex-basis: 35%;
    }
}